.detail_back{
  background-image: url("../images/backgroundImage.jpeg");
  background-size: cover;
}


.imageSize{
    width: 230px;
    height: 230px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }