.container{
    width: 100%;
    height: auto;
    margin: 30px auto auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;    
}

.filters{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: space-around;
}

.filter{
    margin-inline: 30px;
}


.notFound{
    
}