.form_back{
    padding: auto;
    background-color: black;
    background-size: cover;
    width:100vw;
    height:100vh;
    position: absolute;
    position: relative;
    color: white;
  }

  .container{
    width: 100%;
    height: auto;
    margin: 30px auto auto;
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    color: white;
}


  .logo {
    height: 300px;
    width: 330px;
    max-width: 50%;
  }

  .error_message{
    color: red;
   
  }